.ql-align-center{
  text-align: center;
}

.ql-editor {
  font-size: 16px;
  font-family: inter;
}

.ql-video{
    width: 40%;
    aspect-ratio: 2 / 1;
}

.student-input {
  padding: 6px;
  margin: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-width: 120px;
}

.ejercicios-estudiante {
  line-height: 2;
}

.vocab-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.vocab-table th,
.vocab-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.vocab-table th {
  background-color: #f5f5f5;
}

.main{
  padding: 20px;
}



.check{
  padding: 10px;
  background-color: var(--verde);
  color: #Fff;
}

/* Quitar bordes cuando se active la clase */
.ql-editor table.no-borders,
.ql-editor table.no-borders td,
.ql-editor table.no-borders th {
  border: none !important;
}

/* Flex-between */
.ql-editor .flex-between {
  display: flex;
  justify-content: space-between;
}

.no-borders table,
.no-borders td,
.no-borders th {
  border: none !important;
}

[data-width] table {
  width: 100% !important;
  border-collapse: collapse;
}
