
.main{
    padding: 20px;
    position: relative;
    justify-content: start;
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 3fr;

    h2{
        text-align: center;
    }

    .aside{
        display: flex;
        justify-content: center;
        border-right: 1px solid #bbb;
    }

    .dashboard_content{
        padding: 18px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}