:root{
    --background: #F5F7FA;
    --naranja: #F59E0B;
    --verde: #10B981;
    --blanco: #fff;
    --azul: #7CC8DB;

}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: inter;
}

a{
    text-decoration: none;
}

/* Quitar bordes */
.no-borders,
.no-borders td,
.no-borders th {
  border: none !important;
  

}

/* Evita colapsos raros */
table {
  border-collapse: collapse;
 
}

table{
    width: 80% !important;
    margin: 0 auto;
    td{
    padding: 5px;
    border: 1px solid #ddd;
    padding: 10px;
  }
}

.ql-editor table{
    width: 80% !important;
     td{
    padding: 5px;
    border: 1px solid #ddd;
    padding: 10px;
  }


  
}


.qlbt-operation-menu{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    gap: 5px;


}

    .qlbt-operation-menu-item{
        cursor: pointer;
        padding: 5px;
    }

    .qlbt-operation-menu-item:hover{
        background-color: #aaa;
    }


    .img-wrapper {
  display: inline-block;
  position: relative;
  border: 1px dashed transparent;
}

.img-wrapper:hover {
  border-color: #1976d2;
}
