.site_header{
    width: 100%;
    
}

.site_header_container{
    padding: 18px;
    width: 100%;
    background-color: #3F3F46;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
    p{
        font-size: 16px;
        color: var(--blanco);
    }
    a{
        color: #fff;
        text-decoration: underline;
    }
}